<Jumbo>
  <h2>Contact Us</h2>
  <p>
    Some content
  </p>
  <address>
    Address
    <p>
      Address<br>
      Addr
    </p>
    <a href="tel:123.456.7890">+30 (123) 456-7890</a><br>
    <a href="mailto:example@emberjs.com">sexample@emberjs.com</a>
  </address>
  <LinkTo @route="about" class="button">About</LinkTo>
</Jumbo>
